@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

.header {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.motto {
  justify-content: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 3rem;
  font-family: Bungee Outline;
}

.banerImg{
  width: 90vw;
  height: auto;
  
}
