.yourVisits {
    margin-left: 250px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.visits {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.803);
    width: 50%;
    padding: 2rem;
    box-shadow: 8px 8px 24px 0px rgb(43, 43, 44);
}


.singleVisit {
    background-color: #fff;
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 5px 5px 2px;
}

.singleVisit p {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(43, 43, 44);
    font-size: small;
    margin: 10px;
    padding: 1px;
}

.visitButton {
    text-transform: uppercase;
    font-weight: bold;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 25px;
}

.cancelButton {
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(46, 49, 44);
    border-radius: 2px;
    box-shadow: 8px 8px 24px 0px rgb(30, 30, 31);
}

.cancelButton:hover {
    background-color: rgb(94, 136, 27);
}

.cancelButton:active {
    background-color: rgb(127, 187, 30);
}

.visitText {
    color: rgb(43, 43, 44);
    display: block;
    background-color: #fff;
    font-size: 15px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 8px 8px 24px 0px rgb(12, 12, 12);
    outline: none;
    text-decoration: none;

}

.visitText:hover {
    color: rgb(43, 43, 44);
    display: block;
    background-color: rgb(127, 187, 30);
    font-size: 15px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 8px 8px 24px 0px rgb(12, 12, 12);
    outline: none;
    text-decoration: none;

}

.visitText:active {
    color: rgb(43, 43, 44);
    display: block;
    background-color: rgb(94, 136, 27);
    font-size: 15px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 8px 8px 24px 0px rgb(12, 12, 12);
    outline: none;
    text-decoration: none;

}