.yourVisits {
    margin-left: 250px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.visits {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.803);
    width: 50%;
    padding: 2rem;
    border-radius: 0.7rem;
    box-shadow: 8px 8px 24px 0px rgb(43, 43, 44);
}


.singleVisit {
    background-color: #98b021;
    border-radius: 0.7rem;
    font-size: 12px;
    box-shadow: 5px 5px 2px;
}

.singleVisit p {
    font-weight: 700;
    color: aliceblue;
    font-size: small;
    margin: 10px;
    padding: 1px;
}

.visitButton {

    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 25px;
}

.cancelButton {
    color: aliceblue;
    background-color: rgb(46, 49, 44);
    border-radius: 5px;
    box-shadow: 8px 8px 24px 0px rgb(30, 30, 31);
}

.visitText {
    color: aliceblue;
    display: block;
    background-color: #98b021;
    font-size: 15px;
    padding: 25px;
    border-radius: 0.7rem;
    box-shadow: 8px 8px 24px 0px rgb(57, 57, 59);
    outline: none;
    text-decoration: none;

}