.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
    background-size: cover;
    margin: auto;
    flex-wrap: wrap;
    
}


  .loginConteiner{
    display: flex;
    padding: 4rem 2rem;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    border-radius: 3px;
    position: relative;
   
}


.registerBox{
    width: 20%;
    color: #fff;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}


.loginBox {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: -265px;;
    min-height: 350px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 0 15px rgb(0 0 0 / 25%);
    overflow: hidden;
    transform: translate3d(100%, -50%, 0);
    width: 45%;

}

.loginBox form{
    display: flex;
    flex-direction: column;
}
.loginBox input{
    width: 100%;
            min-height: 30px;
            padding: 5px 0px;
            border: none;
            font-size: 1rem;
            color: black;
            outline: none;
            font-weight: 200;
            border-bottom: solid 2px #e9e9e9;
            letter-spacing: 1px;
    
}


.loginBox h2{
    margin-bottom: 45px;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.loginBox button{
    background-color: transparent;
    cursor: pointer;
    width: 30%;
    display: flex;
    justify-content: center;
    align-self: end;
    margin-top: 32px;
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: black;
    line-height: 1em;
    letter-spacing: 0.2rem;
    text-decoration: none;

}


.registerBox h2{
    margin: 0;
    font-size: 1rem;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}

.registerBox button {
    background-color: transparent;
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    margin-top: 3rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.8rem 1.2rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.2rem;
}
.registerBox a{
    color: #fff;
    line-height: 1em;
    letter-spacing: 0.2rem;
    text-decoration: none;

}


.reset h2{
    margin: 0;
    font-size: 1rem;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}

.reset button {
    background-color: transparent;
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    margin-top: 3rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.8rem 1.2rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.2rem;
}
.reset a{
    color: #fff;
    line-height: 1em;
    letter-spacing: 0.2rem;
    text-decoration: none;
}


.reset{
    width: 20%;
    color: #fff;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}