.bodyPassword{
    background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.password-panel {
    width: 50%;
    height: 400px;
    background-color: #fff;
}

.password-panel div {
    width: 50%;
    height: 100%;
    float: left;
}

.leftSideBoxPassword {
    background-color:  rgba(34, 34, 34, 0.85);
    background-size: cover;
    box-shadow: 2px 0 15px rgb(0 0 0 / 25%);
}

.rightSidepassword {
    padding: 50px 25px;
    box-sizing: border-box;
    box-shadow: 2px 0 15px rgb(0 0 0 / 25%);
}
.rightSidepassword h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.rightSidepassword p {
    font-size: 10px;
    color: #888;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: lowercase;
}

.rightSidepassword input {
    margin: 10px 0;
    padding: 2.5px 0;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #888;
    align-items: flex-end;
}

.rightSidepassword button {
    border: 2px solid #000;
    border-radius: 3px;
    width: 150px;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.3rem;
    text-decoration: none;
    cursor: pointer;
}