@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  margin: 0 auto;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}
#root {
  width: 100vw;
  height: auto;
  display: flex;
  font-family: Lato;
}
